language: python
sudo: false
cache: pip
install:
- pip install --upgrade pip
- pip install tox
script:
- tox
matrix:
  include:
  - python: 2.7
    env: TOXENV=py27-django17
  - python: 2.7
    env: TOXENV=py27-django18
  - python: 2.7
    env: TOXENV=py27-django19
  - python: 3.3
    env: TOXENV=py33-django17
  - python: 3.3
    env: TOXENV=py33-django18
  - python: 3.4
    env: TOXENV=py34-django17
  - python: 3.4
    env: TOXENV=py34-django18
  - python: 3.4
    env: TOXENV=py34-django19
  - python: 3.5
    env: TOXENV=py35-django18
  - python: 3.5
    env: TOXENV=py35-django19
  - python: 3.6
    env: TOXENV=py36-django18
  - python: 3.6
    env: TOXENV=py36-django19
env:
  global:
  - secure: BvefwB7dAyxeVeIwaDoklOwE04DkuP4xqj18awneFYJdln2qWUB/AcchVGrp6Toi1XnL+4e/CkSRbj/XLr3FBceARknfgzT3zp7BQyJLREAXFXV75dcCtcN9Jxh4IMpNlLTcZcB8OvU+edrRulmsOR0hXIie8rLg3pt+2LfGxhVzaUBq6F9vv+Db7tdZ+DNnciA+geJQZ+ThtxxUzVcNqCgTvQSrPYMGx07ScEG6MuEakHopEVuTE3n7hiOZW/17sS4uBfj+JwL3RX1gg/lnobbicYxBJ+WzuIP2cpVGLDJDwnclqlAezPMEG0AymeOrM9/5fYRkyawOyeaJZFmcd4cqnKurG/lDmidABzB3LXYWnAYVMOsQ5R9JqRRa+AVHt8u1wJZu4VXMoI7AtLHaMCVBO0iAGkH7dD41oy/aMzN63bIp+ANo7seIouxRfCX62H5+1unUbYYExsKvUhwb7uSLLq67QcbkudklIpb/xsNkueqFgJ9APBH3/K7MYjRjPrCA8pjOgnWXyzJRty+fZctrJZTbWg9ubky7t/48enDmFzDOgMjnEtkKAXYO7lHDEsA2HceLtYx08VI9Hfry579AhdqZSRaXZejSN8ZUIOHJLXT+2Md35IuySTpqkQiEjDYWwhLooEFvrirVB+3YCw6Sw6kAoT7P5FS2hOOZtKw=
  - secure: vgk2Q/0DDr/kPe/WnCj12/RLwHwU0nfy5SodTHdcZIG9o3nQ+1mgzR4+SMID3eAUm5qBiH34S5NKSivVCM4pcgjugtFdAWX88v3QZF3ZEdE7Y9E3PjWlQB6O11J50O3UBfMBhuKEmgqisazhGcE7PhD1EcoRKjOGn8rAoqLBYU0pSc/LNeHELd2N03j4/2z1ZwOKW+X2zptynvHiwdvj5N9a/xdmI4SHS1kyS6mTUbdMa3lIO5j3JJx8b/9CNBjpHbnbd72bILzy5xuBnDeoGHlF0f7QOloPlSwb1ktiS1tdgmBs4cinqGinomGm1pPzkF+OLnUfEt7boU6NBlla/fOdtjvMOl4zJQwQIZhZKzirNZBFwZXVVvccAuHOHGBzgGAmJb1t0k+aliaTV2f5KwOIGT159gj9bWSGX29Qw4gkc7Dpjs8RXaHhwx4UUBvokD7yrI5FCdk6GdAAMz46Cuy3Cha9EGBo6GnzYBxNehnC0EICjOI6iAbez4aQ9a+S/hlsjUvusqM20Gt8NKxtDfMOYDZO2ddH4CjfdAUQ2o9+FNQHrbw4TItRaa+cCjHpuHfbGhMcnzLV9ug0pK+38tFYlwpicoWmTfSU5hNlA3+/qeg/02vvuYu8rGSXJ9loAyGD+WgMYPbLOpEEKzdVFOqN1i6VmfGuKMGRyRcneoA=
  - secure: TwXsNlHF2X0CaeWV2jJ+Htx1X/y8ZPwMzRcyqMyxZMwl3qCy9nK8sXNZWx9fmi11xjCNrnlaqnOCoACalih3OpPd89jvLfS0iyLwp6YZsD8z4qA9CP5QcVPBbovauD6atJ5ipFDY9qI8sK4R6Q+3gJgc1gjSG9jZubiJHAJMAFr8YTZgc0QUD5rJpkLziRV1jI/z3YIUiAEZ/YNEFGK+XjMEa68cuEu7+nlBBQNQM6enIBfY+W85AG7WKgqDm08H3QNb1y6Gyje3GA+I/zIVZaac22XkKwe3Kc9WxS2rgmXz4O8Z/tCGkbhhBgi//sRbn52Juw46ECZMBcXd2hxOj6/8mnl6Gw33mkAHzaizfsHIkzwk3t+ENNwdGYTxWX8b9gRbcIUNS3JzVsSmkwoEmbQVVkRsA34D7JmRvqx1KVZBEqJYZ1CVki6fRMCyhbF43v0uC9IziQDVv27X/LYNEtfgkIiis33cUu/5V8g4f6U+Ezp/AodcwNQj+CihOYC2kB98NgYlOUh+FIZWOHygXXVTgE914V6GwyyBOd5ScNmJMeb9WGpai78LrTNbYU2ShB/1tuVuT6ce14TcxxuH335rUl2griFJcapvZRRC7qT3vGDbJ8PzS6UFxZoaKx1qvXc0s/3lKUfBUoPOVGPqGT5NHXjJRtrvj5nZZdVLxF4=
