Django>=4.0
algoliasearch>=4.0,<5.0
# dev dependencies
factory_boy>=3.0,<4.0
mock>=5.0,<6.0
pypandoc>=1.0,<2.0
pyright>=1.1.389,<2.0
ruff>=0.7.4,<1.0
setuptools>=75.0,<76.0
six>=1.16,<2.0
tox
twine
wheel
